*.c_date
*.mh
*.d
*.err
*.o
*.a
*.so
*.init
.depends
.mercury-depend
Mercury
lib

cars-main/cars
cars-main/replay
cars-server/cars_server
cars-server/replay
lp-server/coin-Osi/
lp-server/lp_server
maze/maze
osi/coin-Osi-gc/
visual/ncurses-5.9.tar.gz
visual/ncurses-5.9/

